<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <!--===============================================================================================-->
	    <link rel="icon" type="image/png" href="{{ asset('form/images/icons/favicon.ico') }}"/>
        <!--===============================================================================================-->
	    <link rel="stylesheet" type="text/css" href="{{ asset('form/vendor/bootstrap/css/bootstrap.min.css')}}">
        <!--===============================================================================================-->
	    <link rel="stylesheet" type="text/css" href="{{ asset('form/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
        <!--===============================================================================================-->
	    <link rel="stylesheet" type="text/css" href="{{ asset('form/vendor/animate/animate.css')}}">
        <!--===============================================================================================-->
	    <link rel="stylesheet" type="text/css" href="{{ asset('form/vendor/css-hamburgers/hamburgers.min.css')}}">
        <!--===============================================================================================-->
	    <link rel="stylesheet" type="text/css" href="{{ asset('form/vendor/select2/select2.min.css')}}">
        <!--===============================================================================================-->
	    <link rel="stylesheet" type="text/css" href="{{ asset('form/css/util.css')}}">
	    <link rel="stylesheet" type="text/css" href="{{ asset('form/css/main.css')}}">
        <!--===============================================================================================-->
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
        
        <!--===============================================================================================-->
	    <script src="{{ asset('form/vendor/jquery/jquery-3.2.1.min.js')}}"></script>
        <!--===============================================================================================-->
	    <script src="{{ asset('form/vendor/bootstrap/js/popper.js')}}"></script>
	    <script src="{{ asset('form/vendor/bootstrap/js/bootstrap.min.js')}}"></script>
        <!--===============================================================================================-->
	    <script src="{{ asset('form/vendor/select2/select2.min.js')}}"></script>
        <!--===============================================================================================-->
	    <script src="{{ asset('form/vendor/tilt/tilt.jquery.min.js')}}"></script>
	    <script >
		    $('.js-tilt').tilt({
			scale: 1.1
		    })
	    </script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-23581568-13');
        </script>

        <!--===============================================================================================-->
	    <script src="{{ asset('form/js/main.js')}}"></script>

        
        {% endblock %}
    </body>
</html>
